@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-bold-rounded/css/uicons-bold-rounded.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #F1F4FA;
  overflow: hidden;
}

h1, h2, h3 {
  font-weight: 700;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

header {
  background-color: #F1F4FA;
  color: #000;
  padding: 20px;
  display: flex;
  justify-content: space-between; /* Chia đều các phần tử */
  align-items: center;
  margin-left: 200px;
  width: calc(100% - 220px); /* Điều chỉnh chiều rộng để trừ đi margin-left */
}
.search-container {
  display: flex;
  align-items: center;    
  padding: 5px 10px;
  max-width: 600px;
  width: 20%;
  margin-left: auto;
  
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 12px;
  border-radius: 10px;
  padding: 15px 10px;
}


.search-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0 10px;
}

.search-button i {
  font-size: 20px;
  color: #999;
  transition: color 0.5s;
}
.search-button i:hover,
.search-button i:focus{
  color: #00b8d4;
}


.custom h2 {
  font-family: sans-serif;
  
}

.btnAdd {
  margin-left: 30px; /* Đẩy nút button sang bên phải */
  
}

.btnAdd .addBtn {
  background-color: #3A36DB;
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 1em;
  height: 40px;
  padding: 0 25px;
  transition: all 200ms;
}

.btnAdd .addBtn:hover {
  transform: scale(1.05);
}

.custom {
  
  margin-right: auto;
}

.sidebar-menu {
  background-color: #fff;
  
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: hidden;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.sidebar-menu .logo {
  padding: 20px;
  text-align: center;
  
}

.sidebar-menu .logo img {
  max-width: 80px;
 
}

.sidebar-menu .menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.sidebar-menu .menu-item {
  display: flex;
  align-items: center;
  padding: 14px 20px;
  color: #a5a4a4;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar-menu .menu-item:hover {
  background-color: #f5f5f5;
  color: #3A36DB;
}

.sidebar-menu .menu-item i {
  font-size: 18px;
  margin-right: 16px;
}

.sidebar-menu .menu-item span {
  font-size: 14px;
  font-weight: 500;
}

.sidebar-menu .upgrade-container {
  padding-top: 16px;
  
}

.sidebar-menu .upgrade-btn {
  background-color: 
#FF69B4;
  color: #fff;
  padding: 14px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 80%;
  margin-left: 20px;
  margin-bottom: 50px;
}


.sidebar-menu .upgrade-btn span {
  font-size: 14px;
  font-weight: 500;
}

.sidebar-menu .user-info {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  
}

.sidebar-menu .user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 12px;
}

.sidebar-menu .user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar-menu .user-details {
  flex-grow: 1;
}

.sidebar-menu .user-name {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.sidebar-menu .user-plan {
  font-size: 12px;
  color: #999;
}

.sidebar-menu .logout-link {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
  margin-left: 12px;
}

.sidebar-menu .logout-link:hover {
  color: #924cdc;
}

.sidebar-menu .logout-link i {
  font-size: 18px;
}

.content {
  margin-left: 250px; /* Width of the sidebar */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.three-dots {
  cursor: pointer;
  font-size: 24px; 
  line-height: 1;
  user-select: none;
}


/* Cot bang user */
.header-container {
  display: flex;
  align-items: center;
  padding: 12px;
  margin-left: 210px;
  width: calc(100vw - 220px);
  justify-content: space-between;
  font-size: 10px;
  margin-top: auto;
  color: #666;
  position: relative;
  
}
.header-item.checkbox-header{
  position: absolute;
  left: 1.4%;
  margin-bottom: -5px;
  width: 50px;

}
.header-item.invoice-header{
  position: absolute;
  left: 5%;
  margin-right: 6px;

}
.header-item.name-header{
  position: absolute;
  left: 14%;
  
}
.header-item.email-header{
  position: absolute;
  left: 30%;
  
}
.header-item.date-header{
  position: absolute;
  left: 58%;
  
}
.header-item.status-header{
  position: absolute;
  left: 77%;
  
}
.header-item.trash-header{
  position: absolute;
  left: 97.5%;
  font-size: 18px;

}
.delete-all{
  border: none;

}
 .delete-all:hover,
 .delete-all:focus {
  color: #6a6a6a;
  
}
.delete-all:active {
  color: #00b8d4;
}



.card {
  display: flex;
  align-items: center;
  padding: 18px;
  margin-bottom: 6px;
  border-radius: 8px;
  background-color: #fff;
  margin-left: 210px;
  width: calc(100vw - 220px);
  font-size: 0.8em;
  height: auto;
  position: relative;
}
.checkbox{
  background-color: #00b8d4;
}
.invoice{
  margin-right: 6px; /* Giảm khoảng cách bên phải */
  color: #000;
  position: absolute;
  left: 5%;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  
}
.profile-pic {
  display: flex;
  align-items: center;
  margin-right: 6px; /* Giảm khoảng cách bên phải */
  position: absolute;
  left: 12%;
  
}
.profile-pic img {
  width: 30px; /* Giảm kích thước ảnh */
  height: 30px; /* Giảm kích thước ảnh */
  border-radius: 50%;
  margin-right: 6px; /* Giảm khoảng cách bên phải của ảnh */
}
.name {
  font-weight: bold;
  font-size: 0.9em; /* Giảm kích thước chữ */
  

}

.email {
  color: gray;
  font-size: 0.9em; /* Giảm kích thước chữ */
  margin-right: 6px; /* Giảm khoảng cách bên phải */
  color: #000;
  position: absolute;
  left: 30%;
  
}

.date {
  color: gray;
  font-size: 0.9em; /* Giảm kích thước chữ */
  margin-right: 6px; /* Giảm khoảng cách bên phải */
  color: #000;
  position: absolute;
  left: 58%;
  
}
.status {
  padding: 10px 30px; /* Giảm padding */
  border-radius: 19px; /* Giảm góc bo tròn */
  text-align: center;
  margin-right: -90px; /* Giảm khoảng cách bên phải */
  position: absolute;
  left: 74%;
  color: #00b894;
  background-color: #e8f6f3;
}


.special {
  
  border: none;
  position: absolute;
  top: 50%;
  left: 91%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #ccc; /* default color */
  transition: color 0.3s; /* add transition effect */
}

.special:hover,
.special.active {
  color: #00b8d4; /* active color */
}


.menu {
  position: relative;
}

.dots {
  cursor: pointer;
  font-size: 1em; /* Giảm kích thước của ba chấm */
}
.menu-itemss {
  display: none;
  position: absolute;
  top: auto; /* Giảm khoảng cách từ ba chấm đến menu */
  right: auto;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1); /* Giảm độ mờ bóng */
  border-radius: 4px; /* Giảm góc bo tròn */
  overflow: hidden;
}
.menu-itemm {
  padding: 6px 10px; /* Giảm padding */
  cursor: pointer;
  font-size: 0.7em; /* Giảm kích thước chữ */
}
.menu-itemm:hover {
  background-color: #f0f0f0;
}

/* Hiển thị menu khi nhận tiêu điểm */
.menuu:focus-within .menu-itemss,
.menuu:hover .menu-itemss {
  display: block;
}

/* Làm cho ba chấm có thể nhận tiêu điểm */
.dots {
  outline: none; /* Xóa viền tiêu điểm mặc định */
}

/* Contact-user */


