@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-bold-rounded/css/uicons-bold-rounded.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #F1F4FA;
  overflow: hidden;
}

h1, h2, h3 {
  font-weight: 700;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

header {
  background-color: #F1F4FA;
  color: #000;
  padding: 20px;
  display: flex;
  justify-content: space-between; /* Chia đều các phần tử */
  align-items: center;
  margin-left: 200px;
  width: calc(100% - 220px); /* Điều chỉnh chiều rộng để trừ đi margin-left */
}
.search-container {
  display: flex;
  align-items: center;    
  padding: 5px 10px;
  max-width: 600px;
  width: 20%;
  margin-left: auto;
  
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 12px;
  border-radius: 10px;
  padding: 15px 10px;
}


.search-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0 10px;
}

.search-button i {
  font-size: 20px;
  color: #999;
  transition: color 0.5s;
}
.search-button i:hover,
.search-button i:focus{
  color: #00b8d4;
}


.custom h2 {
  font-family: sans-serif;
  
}

.btnAdd {
  margin-left: 30px; /* Đẩy nút button sang bên phải */
  
}

.btnAdd .addBtn {
  background-color: #3A36DB;
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 1em;
  height: 40px;
  padding: 0 25px;
  transition: all 200ms;
}

.btnAdd .addBtn:hover {
  transform: scale(1.05);
}

.custom {
  
  margin-right: auto;
}

.sidebar-menu {
  background-color: #fff;
  
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: hidden;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.sidebar-menu .logo {
  padding: 20px;
  text-align: center;
  
}

.sidebar-menu .logo img {
  max-width: 80px;
 
}

.sidebar-menu .menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.sidebar-menu .menu-item {
  display: flex;
  align-items: center;
  padding: 14px 20px;
  color: #a5a4a4;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar-menu .menu-item:hover {
  background-color: #f5f5f5;
  color: #3A36DB;
}

.sidebar-menu .menu-item i {
  font-size: 18px;
  margin-right: 16px;
}

.sidebar-menu .menu-item span {
  font-size: 14px;
  font-weight: 500;
}



.sidebar-menu .user-info {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  margin-top: 150px;
  
}

.sidebar-menu .user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 12px;
}

.sidebar-menu .user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar-menu .user-details {
  flex-grow: 1;
}

.sidebar-menu .user-name {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.sidebar-menu .user-plan {
  font-size: 12px;
  color: #999;
}

.sidebar-menu .logout-link {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
  margin-left: 12px;
}

.sidebar-menu .logout-link:hover {
  color: #924cdc;
}

.sidebar-menu .logout-link i {
  font-size: 18px;
}

.content {
  margin-left: 250px; /* Width of the sidebar */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.three-dots {
  cursor: pointer;
  font-size: 24px; 
  line-height: 1;
  user-select: none;
}


/* Cot bang user */
.header-container {
  display: flex;
  align-items: center;
  padding: 12px;
  margin-left: 210px;
  width: calc(100vw - 220px);
  justify-content: space-between;
  font-size: 10px;
  margin-top: auto;
  color: #666;
  position: relative;
  
}
.header-item.checkbox-header{
  position: absolute;
  left: 1.4%;
  margin-bottom: -5px;
  width: 50px;

}
.header-item.invoice-header{
  position: absolute;
  left: 5%;
  margin-right: 6px;

}
.header-item.name-header{
  position: absolute;
  left: 14%;
  
}
.header-item.email-header{
  position: absolute;
  left: 30%;
  
}
.header-item.date-header{
  position: absolute;
  left: 58%;
  
}
.header-item.status-header{
  position: absolute;
  left: 77%;
  
}
.header-item.trash-header{
  position: absolute;
  left: 97.5%;
  font-size: 18px;

}
.delete-all{
  border: none;

}
 .delete-all:hover,
 .delete-all:focus {
  color: #6a6a6a;
  
}
.delete-all:active {
  color: #00b8d4;
}



.container {
  display: flex;
  flex-wrap: wrap; /* Cho phép các thẻ card xuống hàng khi hết chỗ */
  gap: 20px;
  padding: 20px; /* Padding bên trong container */
  margin-left: 190px; /* Khoảng cách từ lề trái */
}

/* Thẻ card */
.card {
  
  display: flex;
  flex-direction: column; /* Đặt các nội dung bên trong card theo cột */
  align-items: center;
  padding: 18px;
  border-radius: 8px;
  background-color: #fff;
  font-size: 0.8em;
  height: auto;
  position: relative;
  width: 100%; /* Chiều rộng của card */
  
}

.checkbox{
  background-color: #00b8d4;
}
.invoice{
  margin-right: 6px; /* Giảm khoảng cách bên phải */
  color: #000;
  position: absolute;
  left: 5%;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  
}
.profile-pic {
  display: flex;
  align-items: center;
  margin-right: 6px; /* Giảm khoảng cách bên phải */
  position: absolute;
  left: 12%;
  
}
.profile-pic img {
  width: 30px; /* Giảm kích thước ảnh */
  height: 30px; /* Giảm kích thước ảnh */
  border-radius: 50%;
  margin-right: 6px; /* Giảm khoảng cách bên phải của ảnh */
}
.name {
  font-weight: bold;
  font-size: 0.9em; /* Giảm kích thước chữ */
  

}

.email {
  color: gray;
  font-size: 0.9em; /* Giảm kích thước chữ */
  margin-right: 6px; /* Giảm khoảng cách bên phải */
  color: #000;
  position: absolute;
  left: 30%;
  
}

.date {
  color: gray;
  font-size: 0.9em; /* Giảm kích thước chữ */
  margin-right: 6px; /* Giảm khoảng cách bên phải */
  color: #000;
  position: absolute;
  left: 58%;
  
}
.status-1 {
  padding: 10px 30px; /* Giảm padding */
  border-radius: 19px; /* Giảm góc bo tròn */
  text-align: center;
  margin-right: -90px; /* Giảm khoảng cách bên phải */
  position: absolute;
  left: 75%;
  color: #00b894;
  background-color: #e8f6f3;
}


.special {
  
  border: none;
  position: absolute;
  top: 50%;
  left: 91%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #ccc; /* default color */
  transition: color 0.3s; /* add transition effect */
}

.special:hover,
.special.active {
  color: #00b8d4; /* active color */
}


.menu {
  position: relative;
}

.dots {
  cursor: pointer;
  font-size: 1em; /* Giảm kích thước của ba chấm */
}
.menu-itemss {
  display: none;
  position: absolute;
  top: auto; /* Giảm khoảng cách từ ba chấm đến menu */
  right: auto;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1); /* Giảm độ mờ bóng */
  border-radius: 4px; /* Giảm góc bo tròn */
  overflow: hidden;
}
.menu-itemm {
  padding: 6px 10px; /* Giảm padding */
  cursor: pointer;
  font-size: 0.7em; /* Giảm kích thước chữ */
}
.menu-itemm:hover {
  background-color: #f0f0f0;
}

/* Hiển thị menu khi nhận tiêu điểm */
.menuu:focus-within .menu-itemss,
.menuu:hover .menu-itemss {
  display: block;
}

/* Làm cho ba chấm có thể nhận tiêu điểm */
.dots {
  outline: none; /* Xóa viền tiêu điểm mặc định */
}

/* Contact-user */


/* Style cho form popup */
.popup-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 0 10px rgba(57, 14, 213, 0.1);
  padding: 20px;
  z-index: 1000;
  width: 90%;
  max-width: 500px;
}

/* Style cho form */
.popup-form .form-invoice {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Style cho nhóm ảnh */
.popup-form .user-img {
  display: flex;
  flex-direction: column;
  align-items: center; /* Căn giữa phần tử theo chiều ngang */
  margin-bottom: 15px; /* Khoảng cách dưới nhóm ảnh */
}

/* Style cho phần ảnh */
.popup-form .user-img .image {
  margin-bottom: 10px; /* Khoảng cách dưới ảnh */
}

.popup-form .user-img .image img {
  max-width: 100px; /* Kích thước tối đa của ảnh */
  max-height: 100px; /* Kích thước tối đa của ảnh */
  border-radius: 50%; /* Hình tròn */
  object-fit: cover; /* Đảm bảo ảnh không bị méo */
}

.popup-form input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer; /* Thay đổi con trỏ khi di chuột qua */
}

/* Style cho các nhóm input */
.popup-form .form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Style cho các label */
.popup-form label {
  font-weight: bold;
}

/* Style cho các input */
.popup-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; /* Đảm bảo input chiếm toàn bộ chiều rộng của nhóm */
}

/* Style cho tiêu đề */
.popup-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Style cho nút tạo invoice */
.popup-form .btn-invoice-create {
  background-color: #433fff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  width: 50%;
  margin-left: 25%;
  
}

.popup-form .btn-invoice-create:hover {
  background-color: #3a36db;
}

/* Style để làm mờ nền khi form popup hiện ra */

.popup-form .btn-invoice-edit {
  background-color: #433fff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  width: 50%;
  margin-left: 25%;
  
}

.popup-form .btn-edit:hover {
  background-color: #3a36db;
}



/* delete container */
.confirm-delete-container {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  margin-left: 350px;
  
 
  
  
}

/* Đảm bảo container của popup chiếm toàn bộ viewport */
.confirm-delete {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Đảm bảo popup nằm trên các nội dung khác */
}

.confirm-delete-container {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin-left: 50px;
  margin-top: -80px;
  /* Xóa margin-left */
}

.confirm-delete-container h2 {
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
}

.confirm-buttons {
  display: flex;
  justify-content: space-around;
}

.confirm-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.confirm-yes {
  background-color: #e74c3c;
  color: #fff;
}

.confirm-no {
  background-color: #bdc3c7;
  color: #333;
}

.confirm-buttons button:hover {
  opacity: 0.9;
}
