@font-face {
  font-family: 'Poppins';
  src: url('/src/assets/font/poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
}
h3{
  font-size: 30px;
  font-family:'Poppins', sans-serif;
}
